.home{
    border-left: 4px solid black;
    border-right: 4px solid black;
    width: 55%;
    text-align: center;
    /* background:linear-gradient(45deg,rgb(53, 52, 52),rgb(125, 126, 125),rgb(138, 137, 137),rgb(160, 160, 159),rgb(172, 171, 171),rgb(187, 185, 185),rgb(56, 56, 56)); */
    background-color: rgb(46, 49, 51);
}
.header{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(56, 56, 56);
}
.header>img{
    object-fit: contain;
    width:30vw;
}