.input__box{
    padding: 10px;
}
.form_box{
    margin: 10px;
    padding: 10px;
    width: 36.5vw;
    border-radius: 5px;
    background-color: rgb(188, 206, 212);
    border-radius: 5px;
    border: none;
    text-align: center;
}

    
.formbox{
    margin: 10px;
    width: 17vw;
    padding: 10px;
    color: rgb(10, 10, 10);
    border-radius: 5px;
    background-color: rgb(188, 206, 212);
    border: none;
    text-align: center;
}

.form__box{
    margin: 10px;
    width: 18.3vw;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(64, 147, 172);
    border: none;
    text-align: center;
}
